@import url("https://fonts.googleapis.com/css?family=Cairo:400,700");
.custom-btn {
  border: none;
  border-radius: 35px;
  padding: 11px 30px;
  color: #FFF;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.custom-btn.gray {
  background-color: rgba(0, 0, 0, 0.55);
}
.custom-btn.green {
  background-color: #23c94a;
}
.custom-btn.blue {
  background-color: #0a71bf;
}
.custom-btn:hover {
  opacity: 0.95;
  -webkit-box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.3);
}

/* form-group 
========================= */
.form-group {
  margin-bottom: 20px;
}
.form-group .form-control {
  background: none;
  border: 2px solid #0a71bf;
  border-radius: 35px;
  text-align: center;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.55);
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  padding: 10px;
}
.form-group .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #23c94a;
}
.form-group .form-control:invalid {
  border-color: red;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* placholder
====================*/
::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.35) !important;
}
:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.35) !important;
}
::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.35) !important;
}
::placeholder {
  color: rgba(0, 0, 0, 0.35) !important;
}

/* section-title
======================= */
.section-title {
  margin-bottom: 65px;
  font-weight: bold;
  font-size: 35px;
  position: relative;
  display: inline-block;
}
@media (max-width: 720px) {
  .section-title {
    font-size: 28px;
  }
}
.section-title:after {
  content: "";
  position: absolute;
  bottom: -25px;
  width: 150px;
  height: 4px;
  left: -30px;
}
@media (max-width: 720px) {
  .section-title:after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
.section-title:before {
  content: "";
  position: absolute;
  bottom: -35px;
  width: 150px;
  height: 4px;
  left: -75px;
}
@media (max-width: 720px) {
  .section-title:before {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 95px;
  }
}
.section-title.white {
  color: #FFF;
}
.section-title.white:after {
  background: #FFF;
}
.section-title.white:before {
  background: #FFF;
}
.section-title.blue {
  color: #0a71bf;
}
.section-title.blue:after {
  background: #0a71bf;
}
.section-title.blue:before {
  background: #0a71bf;
}

/* Modal 
====================== */
@media (max-width: 767px) {
  .modal-title {
    font-size: 15px;
  }
}

/* space
================== */
.space-50 {
  padding: 50px 0;
}

.space-30 {
  padding: 30px 0;
}

/* rating
============== */
ul.rating {
  color: #ffb624;
}
ul.rating li {
  display: inline-block;
}

.recently-news .news {
  padding: 10px 10px 0;
  background: #FFF;
}
.recently-news .news .news-widget {
  position: relative;
}
.recently-news .news .news-widget .news-img {
  overflow: hidden;
  height: 100%;
}
.recently-news .news .news-widget .news-img img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100% !important;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  min-height: 287px;
}
.recently-news .news .news-widget .news-img:hover img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.recently-news .news .news-widget .news-content {
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  padding: 10px;
  bottom: 20px;
  left: 10px;
  width: 50%;
}
@media (max-width: 740px) {
  .recently-news .news .news-widget .news-content {
    width: auto;
    left: 5px;
    right: 5px;
  }
}
.recently-news .news .news-widget .news-content h4 {
  color: #282828;
  padding-top: 30px;
  padding-bottom: 25px;
}
.recently-news .news .news-widget .news-content p {
  color: #0a71bf;
  padding-bottom: 25px;
  border-bottom: 1px solid #0a71bf;
  font-size: 15px;
}
.recently-news .news .news-widget .news-content .foot-news {
  overflow: hidden;
}
.recently-news .news .news-widget .news-content .foot-news button {
  padding: 5px 20px;
  margin-left: 15px;
  font-size: 10px;
}
.recently-news .news .news-widget .news-content .foot-news a {
  display: inline-block;
  float: left;
  background: #0a71bf;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #FFF;
}
.recently-news .news .news-widget.news-lg {
  height: 590px;
  margin-bottom: 15px;
}
.recently-news .news .news-widget.news-lg a.changeGrid {
  display: none;
}
.recently-news .news .news-widget.news-sm {
  margin-bottom: 15px;
}
.recently-news .news .news-widget.news-sm .news-img {
  height: 287px;
}
.recently-news .news .news-widget.news-sm .news-content {
  width: auto;
  bottom: 5px;
  left: 5px !important;
  right: 5px;
}
.recently-news .news .news-widget.news-sm .news-content h4 {
  font-size: 15px;
  padding: 0 0 15px;
}
.recently-news .news .news-widget.news-sm .news-content a {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #23c94a;
  font-size: 12px;
  display: none;
}
.recently-news .news .news-widget.news-sm .news-content a.changeGrid {
  display: block;
}
.recently-news .news .news-widget.news-sm .news-content p {
  display: none;
}

/* main-box
======================= */
.main-box {
  -webkit-box-shadow: 0 0 17px 1px rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 17px 1px rgba(0, 0, 0, 0.07);
  background: #FFF;
}
.main-box .main-box-title {
  color: #23c94a;
  padding: 50px 20px;
}
.main-box .main-box-title h2 {
  font-weight: bold;
}

/* blue-box
================= */
.blue-box {
  background-color: #0a71bf;
  padding: 20px;
  -webkit-box-shadow: inset 0 0 5px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 5px 3px rgba(0, 0, 0, 0.3);
}
.blue-box ul {
  color: #FFF;
  list-style: none;
}
.blue-box ul li {
  border-bottom: 1px dashed #fff;
  padding: 10px 0;
}
.blue-box ul li:last-child {
  border: none;
}
.blue-box ul li a {
  display: block;
  font-weight: bold;
}
.blue-box ul li a img {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-left: 15px;
}

/* a_adsArea
====================== */
.a_adsArea {
  color: #FFF;
  position: relative;
}
.a_adsArea h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (max-width: 550px) {
  .a_adsArea h2 {
    font-size: 22px;
  }
}
.a_adsArea img {
  height: 150px;
}

/* white-box
====================== */
.white-box2 {
  background: #FFF;
  padding: 0 0 20px;
}

.white-box {
  background: #FFF;
  padding: 20px;
  border-radius: 5px;
}
.white-box ul {
  list-style: none;
}
.white-box ul li {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
  position: relative;
}
.white-box ul li.active {
  color: #23c94a;
  font-weight: bold;
}
.white-box ul li.active i {
  color: #23c94a;
}
.white-box ul li a i {
  position: absolute;
  left: 10px;
  color: rgba(0, 0, 0, 0.55);
  top: 8px;
}

/* chatBox
================== */
.chatBox {
  background-color: #f5f6f8;
  padding: 20px 10px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .chatBox {
    padding-top: 50px;
  }
}

/* a_blogLink
====================== */
.a_blogLink img {
  border-radius: 5px;
  max-height: 300px;
  width: 100%;
}
.a_blogLink h4 {
  color: #0a71bf;
  font-weight: bold;
  margin-top: 20px;
  font-size: 22px;
}
.a_blogLink p {
  font-size: 18px;
  color: #282828;
}

/* blueBox
==============*/
.blueBox {
  background-color: rgba(10, 113, 191, 0.85);
  padding: 20px;
  margin-top: 80px;
  border-radius: 15px;
}

/* quiz-box
======================= */
.quiz-box {
  background-color: #f5f5f5;
  padding: 60px  20px 30px;
}

/* setting-box
===================== */
.setting-box {
  background-color: #FFF;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #dcd8d5;
}
@media (max-width: 767px) {
  .setting-box {
    padding: 20px 10px;
  }
}
.setting-box h5 {
  color: #0a71bf;
  margin-bottom: 20px;
}

.recently_widget {
  margin-bottom: 30px;
  display: block;
}
.recently_widget .widget_img {
  height: 350px;
  overflow: hidden;
  position: relative;
}
.recently_widget .widget_img img {
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.recently_widget .widget_img iframe {
  height: 100%;
  width: 100%;
}
.recently_widget .widget_content {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 15px;
}
.recently_widget .widget_content h3 {
  font-weight: bold;
  color: #0a71bf;
  font-size: 25px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.recently_widget .widget_content p {
  height: 20px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #282828;
}
.recently_widget:hover .widget_content {
  background-color: #0a71bf;
  color: #FFF;
}
.recently_widget:hover .widget_content h3 {
  color: #fff;
}
.recently_widget:hover .widget_content p {
  color: #FFF;
}
.recently_widget:hover img {
  -webkit-transform: scale(1.09);
  -ms-transform: scale(1.09);
  transform: scale(1.09);
}
.recently_widget .iconSlide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.55);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.recently_widget .iconSlide img {
  width: 100px;
  height: auto;
}

/* textCard
==================== */
.textCard {
  position: relative;
}
.textCard .textWidget {
  background: #FFF;
  border-radius: 25px;
  padding: 20px;
  color: #282828;
  margin: 20px 10px;
}
.textCard .textWidget h4 {
  margin-bottom: 15px;
}
.textCard .textWidget p {
  margin-bottom: 25px;
}
.textCard .textWidget a {
  text-align: center;
  display: block;
  padding: 5px;
  color: #0a71bf;
  font-weight: bold;
}

/* photCard
===================== */
.photCard {
  position: relative;
}
.photCard .textWidget {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0;
}
.photCard .cp_img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin: 20px 10px 0;
  overflow: hidden;
}

/* doctorSearch
=============================*/
.doctorSearch {
  padding: 0 25px;
  margin-bottom: 20px;
}

.doctorCard {
  background-color: #f6f6f6;
  -webkit-box-shadow: 0 0 30px 6px rgba(31, 51, 73, 0.1);
  box-shadow: 0 0 30px 6px rgba(31, 51, 73, 0.1);
}
.doctorCard .videos {
  overflow: hidden;
}
.doctorCard .videos .v-lg {
  height: 350px;
  width: 100%;
  border: 1px solid #FFF;
}
.doctorCard .videos .v-lg iframe {
  height: 100%;
  width: 100%;
}
.doctorCard .videos .v-sm {
  height: 180px;
  width: 50%;
  float: left;
  border: 1px solid #FFF;
  display: inline-block;
}
.doctorCard .videos .v-sm iframe {
  height: 100%;
  width: 100%;
}
.doctorCard .doctorText .docDetails {
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 30px;
}
.doctorCard .doctorText .docDetails .docImg {
  float: right;
  width: 70px;
  height: 70px;
}
.doctorCard .doctorText .docDetails .docImg img {
  height: 100%;
  border-radius: 50%;
}
.doctorCard .doctorText .docDetails .docContent {
  float: left;
  width: calc(100% - 75px);
  color: #0a71bf;
}
.doctorCard .doctorText .docDetails .docContent h4 {
  font-size: 22px;
  margin-bottom: 0;
}
.doctorCard .doctorText .docDetails .docContent span {
  font-size: 15px;
}
.doctorCard .doctorText p {
  margin-bottom: 30px;
  font-weight: bold;
}
.doctorCard .doctorText .docLocation {
  overflow: hidden;
}
.doctorCard .doctorText .docLocation .icon {
  float: right;
  color: #0a71bf;
  width: 20px;
}
.doctorCard .doctorText .docLocation .docLoc {
  float: left;
  width: calc(100% - 25px);
}

.doctorOption {
  padding: 10px;
  margin-top: 70px;
  border-right: 1px dashed rgba(0, 0, 0, 0.55);
}
@media (max-width: 767px) {
  .doctorOption {
    border: 0;
  }
}
.doctorOption p {
  margin: 0;
  font-weight: bold;
}
.doctorOption span {
  font-weight: bold;
}
.doctorOption .done {
  height: 200px;
  background-color: #23c94a;
  color: #FFF;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.doctorOption .timestone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.doctorOption .timestone .time {
  border: 1px solid rgba(0, 0, 0, 0.55);
  background: #FFF;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: center;
  overflow: hidden;
}
.doctorOption .timestone .time .timed {
  height: 120px;
  overflow-y: scroll;
  margin-left: -6px;
  width: 66px;
  margin-right: 3px;
}
.doctorOption .timestone .time p {
  color: #0a71bf;
  font-size: 12px;
  margin-bottom: 10px;
}
.doctorOption .timestone .time span {
  display: block;
  font-size: 10px;
  cursor: pointer;
}
.doctorOption .timestone .time span.active {
  background: #0a71bf;
  color: #FFF;
}
.doctorOption .timestone .time button {
  display: block;
  width: 100%;
  border: none;
  background-color: #0a71bf;
  color: #FFF;
  font-size: 12px;
  cursor: pointer;
}
.doctorOption .timestone .time button.active {
  background: #23c94a;
}

/* quiz
======================== */
.quiz {
  padding: 20px;
}

.quizTitle {
  margin-bottom: 50px;
}
.quizTitle h2 {
  font-weight: bold;
}
@media (max-width: 550px) {
  .quizTitle h2 {
    font-size: 20px;
  }
}

.quizWidget .quizAnswers .answer input {
  display: none;
}
.quizWidget .quizAnswers .answer label {
  display: block;
  padding: 15px;
  background: #FFF;
  border-radius: 35px;
  margin: 15px 0 20px;
  font-weight: bold;
  cursor: pointer;
}
.quizWidget .quizAnswers .answer.active label {
  background: #23c94a;
  color: #FFF;
}

/* numQuiz
================= */
.numQuiz h2 {
  font-weight: bold;
}

/* answerTorF
========================= */
.answerTorF p {
  font-weight: bold;
  line-height: 2;
}

.nav-tabs {
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.nav-tabs .nav-item {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
  border: 1px solid #f6f6f6;
  border-top: none;
}
.nav-tabs .nav-link {
  border: 0;
  border-radius: 0;
  padding: 20px 0;
  color: #fff;
  display: block;
  background-color: #0a71bf;
  font-weight: bold;
}
.nav-tabs .nav-link.active {
  background-color: #f6f6f6;
  color: #0a71bf;
}

.tab-content {
  padding: 20px;
}

/* booking-card
=================== */
.booking-card {
  margin-bottom: 20px;
}
.booking-card .status {
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}
.booking-card .dataBooking p {
  font-size: 18px;
  font-weight: bold;
}
.booking-card .cardContent {
  background: #f6f6f6;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 20px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.booking-card .cardContent .cardImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 35%;
  float: right;
  padding: 25px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #FFF;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
@media (max-width: 650px) {
  .booking-card .cardContent .cardImg {
    width: 100%;
  }
}
.booking-card .cardContent .cardImg:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #f6f6f6;
  border-radius: 50%;
  top: 50%;
  left: -35px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-box-shadow: 4px 55px 0 -22px #f6f6f6 , 4px -55px 0 -22px #f6f6f6, 4px 85px 0 -22px #f6f6f6, 4px -85px 0 -22px #f6f6f6;
  box-shadow: 4px 55px 0 -22px #f6f6f6 , 4px -55px 0 -22px #f6f6f6, 4px 85px 0 -22px #f6f6f6, 4px -85px 0 -22px #f6f6f6;
}
@media (max-width: 650px) {
  .booking-card .cardContent .cardImg:after {
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 55px 0px  0 -22px #f6f6f6 , -55px 0px  0 -22px #f6f6f6, 85px 0px  0 -22px #f6f6f6, -85px 0px  0 -22px #f6f6f6;
    box-shadow: 55px 0px  0 -22px #f6f6f6 , -55px 0px  0 -22px #f6f6f6, 85px 0px  0 -22px #f6f6f6, -85px 0px  0 -22px #f6f6f6;
  }
}
.booking-card .cardContent .cardImg .imgContainer {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}
.booking-card .cardContent .cardImg .imgContainer img {
  height: 100%;
}
.booking-card .cardContent .cardSide {
  width: 60%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 650px) {
  .booking-card .cardContent .cardSide {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.booking-card .cardContent .cardSide .pChangeOpp .perfect-datetimepicker table td {
  height: 19px;
}
.booking-card .cardContent .cardSide .pChangeOpp .form-group {
  margin-bottom: 10px;
}
.booking-card .cardContent .cardSide .pChangeOpp .form-group label, .booking-card .cardContent .cardSide .pChangeOpp .form-group input {
  color: #0a71bf;
  font-size: 18px;
  display: inline-block;
  font-weight: bold;
  border: none;
}
.booking-card .cardContent .cardSide .pChangeOpp .form-group input {
  text-align: center;
  margin-right: 10px;
  max-width: 100px;
}
.booking-card .cardContent .cardSide .confirmCancel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}
.booking-card .cardContent .cardSide .confirmCancel.active {
  opacity: 1;
  visibility: visible;
}
.booking-card .cardContent .cardSide .confirmCancel button {
  min-width: 150px;
}
.booking-card .cardContent .cardSide .confirmCancel div {
  margin: 10px 0;
}
.booking-card .cardContent .cardSide .confirmCancel div button {
  margin-right: 10px;
}
@media (max-width: 450px) {
  .booking-card .cardContent .cardSide .confirmCancel div button {
    min-width: 80px;
  }
}
.booking-card .cardContent .cardSide h3 {
  color: #0a71bf;
  margin-bottom: 15px;
}
.booking-card .cardContent .cardSide p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.booking-card.BookingPRev .cardImg {
  background-color: #a9abad;
}
.booking-card.BookingPRev .cardImg .imgContainer img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.booking-card.blue .cardImg {
  background-color: #0a71bf;
}
.booking-card.green .cardImg {
  background-color: #23c94a;
}

.swal-button--danger {
  background-color: #23c94a;
}

.swal-button--danger:not([disabled]):hover {
  background-color: #0a71bf;
  color: #FFF;
}

.swal-button,
.swal-button:not([disabled]):hover {
  background-color: #0a71bf;
  color: #FFF;
}

.swal-button--cancel {
  background-color: rgba(0, 0, 0, 0.55);
}
.swal-button--cancel:hover {
  color: #FFF;
}

.perfect-datetimepicker {
  color: #0a71bf;
  border: 0;
  margin: auto;
}
.perfect-datetimepicker table {
  background-color: #f6f6f6;
}
.perfect-datetimepicker table td.weekend {
  color: #0a71bf;
}

/* cardRating
=============================== */
.cardRating {
  background-color: #f6f6f6;
  padding: 20px;
  border-radius: 35px;
  border-top-right-radius: 0px;
}
@media (max-width: 500px) {
  .cardRating h2 {
    font-size: 20px;
  }
}
.cardRating p {
  font-size: 20px;
  line-height: 1.5;
}
.cardRating .rating {
  font-size: 25px;
}
@media (max-width: 500px) {
  .cardRating .rating {
    font-size: 18px;
  }
}

/* ContactUs
=========================*/
.ContactUs .modal-body {
  position: relative;
}
.ContactUs .modal-body .icon {
  position: absolute;
  top: -16px;
  left: -12px;
  cursor: pointer;
  font-size: 30px;
}
.ContactUs .modal-body .icon i {
  background-color: #FFF;
  color: #0a71bf;
  border-radius: 50%;
}
.ContactUs .form-group label {
  color: #0a71bf;
  margin-bottom: 10px;
  font-weight: bold;
}
.ContactUs .form-group .form-control {
  border-radius: 0;
  border: 0;
  background: #f5f5f5;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.ContactUs .form-group .form-control:focus {
  -webkit-box-shadow: 0 0 30px 6px rgba(31, 51, 73, 0.1);
  box-shadow: 0 0 30px 6px rgba(31, 51, 73, 0.1);
}

/* megaMenuLinks
========================= */
.megaMenuLinks {
  position: absolute;
  top: 100%;
  right: 50%;
  -webkit-transform: translateX(50%) rotateX(90deg);
  transform: translateX(50%) rotateX(90deg);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  background: #fff;
  -webkit-box-shadow: 0 0 30px 6px rgba(31, 51, 73, 0.1);
  box-shadow: 0 0 30px 6px rgba(31, 51, 73, 0.1);
  padding: 20px 10px;
  width: 75%;
  color: #333;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.megaMenuLinks.active {
  -webkit-transform: translateX(50%) rotateX(0deg);
  transform: translateX(50%) rotateX(0deg);
}
@media (max-width: 1200px) {
  .megaMenuLinks {
    width: 90%;
  }
}

.meunWidget h5 {
  padding-bottom: 15px;
  font-weight: bold;
  border-bottom: 2px solid #a4a4a4;
  margin-bottom: 25px;
  color: #0a71bf;
}
.meunWidget .menuList li a {
  border-bottom: 2px solid #c5c5c5;
  display: block;
  font-weight: bold;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.menuItem {
  background: #e0e0e0;
  overflow: hidden;
}
.menuItem .menuImg {
  width: 70px;
  height: 70px;
  overflow: hidden;
  position: relative;
  float: right;
}
.menuItem .menuImg img {
  height: 100%;
  max-width: initial;
  position: absolute;
  top: 0%;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}
.menuItem .menuContact {
  float: left;
  width: calc(100% - 90px);
  color: #333;
  padding: 10px;
}
.menuItem .menuContact p {
  text-align: right;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.doctor-step {
  background: url(../images/bg-clip.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-bottom: -67px;
  margin-top: -67px;
  position: relative;
  z-index: 5;
}
@media (max-width: 1175px) {
  .doctor-step {
    margin-top: -50px;
  }
}
@media (max-width: 970px) {
  .doctor-step {
    background-size: cover;
  }
}
.doctor-step .steps {
  margin-top: 100px;
}
.doctor-step .steps .step h3 {
  margin: 20px 0;
  font-weight: bold;
  color: #0a71bf;
  font-size: 30px;
}
.doctor-step .steps .step p {
  width: 70%;
  text-align: center;
  margin: 0 auto 20px;
}

/*about
================= */
.about {
  background: #0a71bf;
  padding: 150px 0 0;
}
@media (max-width: 1175px) {
  .about .about-img {
    margin-top: 90px;
  }
}
.about p {
  color: #FFF;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: -50px;
}
@media (max-width: 991px) {
  .about p {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .about p {
    font-size: 18px;
  }
}
.about .details {
  list-style: none;
  color: #FFF;
  margin-right: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 35px;
  counter-reset: widget;
}
@media (max-width: 991px) {
  .about .details {
    font-size: 15px;
  }
}
.about .details li {
  margin-bottom: 15px;
  position: relative;
}
.about .details li:after {
  counter-increment: widget;
  content: counter(widget);
  position: absolute;
  right: -35px;
  top: 0px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #FFF;
  text-align: center;
  line-height: 22px;
  font-size: 15px;
}
.about .details li:before {
  content: "";
  position: absolute;
  top: 24px;
  right: -24px;
  width: 2px;
  height: 18px;
  background: #FFF;
}
.about .details li:last-child::before {
  content: none;
}
.about .details li .sub {
  margin-right: 25px;
  list-style: none;
}
.about .details li .sub li:before {
  content: "";
  position: absolute;
  top: 0;
  right: -25px;
  width: 18px;
  height: 18px;
  background: url(../images/icon/correct.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.about .details li .sub li:after {
  content: none;
}
.about .details li .sub li:first-child {
  margin-top: 15px;
}

/* sliderHome
=================== */
.sliderHome {
  min-height: 100vh;
  background-image: url(../images/pattern.png), url(../images/header.png);
  background-position: center bottom,right top;
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
}
.sliderHome .home-content {
  padding-left: 50px;
}
@media (max-width: 1200px) {
  .sliderHome .home-content {
    padding: 0;
  }
}
@media (max-width: 767px) {
  .sliderHome .home-content {
    padding: 0;
  }
}
.sliderHome h1 {
  color: #fff;
  text-align: center;
  margin-top: calc(25vh + 33px);
  line-height: 1.7;
  font-size: 38px;
}
@media (max-width: 767px) {
  .sliderHome h1 {
    font-size: 25px;
  }
}
.sliderHome p {
  color: #FFF;
  text-align: center;
  font-size: 22px;
}
@media (max-width: 767px) {
  .sliderHome p {
    font-size: 18px;
  }
}
.sliderHome .searchHome {
  margin-top: 25vh;
  padding: 0 30px 0 0;
  margin-bottom: 100px;
  width: 535px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1200px) {
  .sliderHome .searchHome {
    padding: 0;
    width: 485px;
  }
}
@media (max-width: 767px) {
  .sliderHome .searchHome {
    padding: 0;
    margin-top: 30px;
    width: 100%;
  }
}
.sliderHome .searchHome button {
  font-size: 18px;
  margin-bottom: 30px;
}
.sliderHome .searchHome button:hover {
  -webkit-box-shadow: 0 5px 5px 0px rgba(255, 255, 255, 0.3);
  box-shadow: 0 5px 5px 0px rgba(255, 255, 255, 0.3);
}
.sliderHome .searchHome .thirdForm:last-child {
  background-color: #0a71bf;
}
.sliderHome .searchHome .thirdForm:last-child p, .sliderHome .searchHome .thirdForm:last-child i {
  color: #FFF;
}
@media (max-width: 767px) {
  .sliderHome .searchHome .thirdForm:last-child {
    width: 100%;
    margin-top: 10px;
  }
}

.thirdForm {
  width: 155px;
  background: #FFF;
  border-radius: 35px;
  padding: 0 9px 0 33px;
  display: inline-block;
  height: 55px;
  margin-right: 8px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
}
@media (max-width: 1200px) {
  .thirdForm {
    width: 150px;
  }
}
@media (max-width: 767px) {
  .thirdForm {
    width: 47%;
    margin-bottom: 10px;
  }
}
@media (max-width: 540px) {
  .thirdForm {
    width: 100%;
    margin-right: 0;
  }
}
.thirdForm .fa-angle-left,
.thirdForm .fa-angle-down {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 15px;
}
.thirdForm:hover {
  -webkit-box-shadow: 0 5px 5px 0px rgba(255, 255, 255, 0.3);
  box-shadow: 0 5px 5px 0px rgba(255, 255, 255, 0.3);
}
.thirdForm:last-child {
  background-color: #0a71bf;
}
.thirdForm:last-child p, .thirdForm:last-child i {
  color: #FFF;
}
@media (max-width: 767px) {
  .thirdForm:last-child {
    width: 100%;
    margin-top: 10px;
  }
}
.thirdForm p {
  color: #282828;
  font-size: 17px;
  margin: 0;
  padding-bottom: 5px;
  line-height: 50px;
  width: 100%;
  overflow: hidden;
  height: 55px;
}
.thirdForm .customSelect {
  position: absolute;
  z-index: 99;
  background: #FFF;
  width: 300px;
  padding: 20px 10px;
  top: calc(100% + 20px);
  color: #282828;
  -webkit-box-shadow: 0 5px 5px 0px rgba(255, 255, 255, 0.3);
  box-shadow: 0 5px 5px 0px rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
}
.thirdForm .customSelect .head {
  padding-bottom: 20px;
  border-bottom: 2px dashed rgba(0, 0, 0, 0.55);
}
.thirdForm .customSelect .body ul {
  list-style: none;
  margin-top: 20px;
}
.thirdForm .customSelect .body ul li {
  float: right;
  width: 50%;
  margin-bottom: 20px;
}
.thirdForm .customSelect .body ul li i {
  color: #0a71bf;
  margin-left: 5px;
}
.thirdForm.active .customSelect {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

/* recently-news 
=============================*/
.recently-news {
  background-color: #23c94a;
}

/* partners
====================*/
.partners {
  background-color: #0a71bf;
  position: relative;
  padding-top: 100px;
  padding-bottom: 60px;
  overflow: hidden;
}
.partners:after {
  content: "";
  position: absolute;
  top: -50px;
  height: 100px;
  min-width: 700px;
  width: 120%;
  background-color: #23c94a;
  right: -5%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.partners .partners-slider {
  position: relative;
}
.partners .partners-slider .sliderControl .arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
}
.partners .partners-slider .sliderControl .arrow:hover {
  color: #FFF;
}
.partners .partners-slider .sliderControl .arrow.next {
  left: -10px;
}
.partners .partners-slider .sliderControl .arrow.prev {
  right: -10px;
}
.partners .homeDoctor {
  border: 5px solid #FFF;
  position: relative;
}
.partners .homeDoctor .homeDoctor-img {
  height: 430px;
  overflow: hidden;
}
.partners .homeDoctor .homeDoctor-img img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
}
.partners .homeDoctor .homeDoctor-content {
  position: absolute;
  bottom: 5px;
  right: 5px;
  left: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}
.partners .homeDoctor .homeDoctor-content ul li {
  display: inline-block;
}
.partners .homeDoctor .homeDoctor-content ul li a {
  width: 0px;
  height: 0px;
  display: block;
  text-align: center;
  line-height: 50px;
  background-color: #23c94a;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #FFF;
  border-radius: 50%;
  margin: 5px;
  font-size: 18px;
  border: 0px solid transparent;
  overflow: hidden;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}
.partners .homeDoctor .homeDoctor-content ul li a:hover {
  color: #23c94a;
  background-color: #FFF;
  border-color: #23c94a;
}
.partners .homeDoctor:hover ul li a {
  width: 50px;
  height: 50px;
  border-width: 1px;
}

.recently_news {
  padding: 0 15px;
}

/* blog_content
======================*/
.blogC_share {
  position: absolute;
  bottom: -90px;
  left: 20px;
}
@media (max-width: 550px) {
  .blogC_share {
    bottom: -40px;
  }
}
.blogC_share ul {
  list-style: none;
}
.blogC_share ul li {
  display: inline-block;
  margin: 0 5px;
  font-size: 22px;
  color: #b2b2b2;
}
@media (max-width: 550px) {
  .blogC_share ul li {
    font-size: 16px;
  }
}
.blogC_share ul li:hover {
  opacity: 0.8;
}
.blogC_share ul li.facebook {
  color: #3b5998;
}
.blogC_share ul li.twitter {
  color: #55adee;
}
.blogC_share ul li.whatsapp {
  color: #24c94b;
}

.blog_content .blogC_head {
  position: relative;
}
.blog_content .blogC_head .blogC_image {
  max-height: 450px;
  overflow: hidden;
}
.blog_content .blogC_head .blogC_image img {
  width: 100%;
}
.blog_content .blogC_title {
  padding: 20px;
}
.blog_content .blogC_title h3 {
  font-weight: bold;
  font-size: 32px;
  color: #0a71bf;
  margin-top: 30px;
}
@media (max-width: 550px) {
  .blog_content .blogC_title h3 {
    font-size: 25px;
  }
}
.blog_content .blogC_title h3:hover i {
  opacity: 1;
}
.blog_content .blogC_title h3 i {
  color: rgba(0, 0, 0, 0.55);
  opacity: 0.5;
  cursor: pointer;
}
.blog_content .blogC_title .list_links {
  list-style: none;
  margin-bottom: 0;
}
.blog_content .blogC_title .list_links li {
  display: inline-block;
  margin: 20px 0 10px 5px;
  color: rgba(0, 0, 0, 0.55);
}
.blog_content .blogC_title .list_links li:after {
  content: '>';
  margin-right: 5px;
  font-weight: bold;
}
.blog_content .blogC_title .list_links li:last-child:after {
  content: none;
}
.blog_content p {
  padding: 20px;
  font-size: 18px;
  line-height: 2;
  text-align: justify;
}
@media (max-width: 767px) {
  .blog_content p {
    font-size: 16px;
  }
}

/* chatbot
========================== */
.chatbot {
  background-image: url(../images/chat_bg.png);
  padding-top: 90px;
  padding-bottom: 30px;
}
@media (max-width: 991px) {
  .chatbot {
    height: 100vh;
  }
}
@media (max-width: 991px) {
  .chatbot .steps {
    position: fixed;
    z-index: 998;
    font-size: 0;
    top: 60px;
  }
}
.chatbot .steps span {
  display: none;
}
@media (max-width: 991px) {
  .chatbot .steps span {
    display: block;
    font-size: 20px;
    font-weight: bold;
  }
}
@media (max-width: 991px) {
  .chatbot .steps ul li {
    display: inline-block;
  }
}
.chatbot .steps ul li.active a, .chatbot .steps ul li:hover a {
  border-right: 6px solid white;
  font-weight: bold;
}
@media (max-width: 991px) {
  .chatbot .steps ul li.active a, .chatbot .steps ul li:hover a {
    border-right: 0;
    border-top: 6px solid #0a71bf;
  }
}
.chatbot .steps ul li a {
  color: #FFF;
  padding: 7px 10px;
  display: block;
  border-right: 6px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 991px) {
  .chatbot .steps ul li a {
    border-right: 0;
    border-top: 6px solid #cacaca;
  }
}
.chatbot .white-box {
  -webkit-box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.48);
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.48);
}

.slideBlog {
  padding-top: 20px;
  position: relative;
}
.slideBlog .doctorWidget {
  text-align: center;
}
.slideBlog .doctorWidget img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 20px auto;
}
.slideBlog .doctorWidget h3 {
  color: #0a71bf;
  font-weight: bold;
  font-size: 24px;
}
.slideBlog .doctorWidget span {
  display: block;
  color: rgba(0, 0, 0, 0.55);
}

.sliderControl .arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 19px;
  color: #0a71bf;
  cursor: pointer;
  opacity: 0.9;
}
.sliderControl .arrow:hover {
  opacity: 1;
}
.sliderControl .arrow.arrowNext {
  right: -12px;
}
.sliderControl .arrow.arrowPrev {
  left: -12px;
}

.sendMessage .chat {
  background: #F2F5F8;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #434651;
}
.sendMessage .chat .chat-history {
  padding: 30px 20px 20px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  height: 545px;
}
@media (max-width: 991px) {
  .sendMessage .chat .chat-history {
    height: calc(100vh - 200px);
  }
}
.sendMessage .chat .chat-history li.tags {
  padding: 0 50px;
  width: 100%;
  white-space: nowrap;
  overflow-y: hidden;
  margin-bottom: 20px;
}
@media (max-width: 1199px) {
  .sendMessage .chat .chat-history li.tags {
    padding: 0 5px;
  }
}
@media (max-width: 991px) {
  .sendMessage .chat .chat-history li.tags {
    padding: 0 50px;
  }
}
@media (max-width: 767px) {
  .sendMessage .chat .chat-history li.tags {
    padding: 0 5px;
  }
}
.sendMessage .chat .chat-history li.tags a {
  display: inline-block;
  padding: 7px 20px;
  margin: 0 10px 10px;
  border-radius: 35px;
  border: 1px solid #23c94a;
  color: #23c94a;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.sendMessage .chat .chat-history li.tags a:hover {
  background-color: #23c94a;
  color: #FFF;
}
.sendMessage .chat .chat-history li.botChat .message-data {
  float: left;
  margin-right: 10px;
}
.sendMessage .chat .chat-history li.botChat .my-message {
  float: right;
  width: 250px;
  min-width: 70%;
}
@media (max-width: 400px) {
  .sendMessage .chat .chat-history li.botChat .my-message {
    width: 200px;
  }
}
.sendMessage .chat .chat-history li.userChat .message-data {
  float: right;
  margin-left: 10px;
}
.sendMessage .chat .chat-history li.userChat .other-message {
  float: left;
  width: 250px;
  min-width: 70%;
}
@media (max-width: 400px) {
  .sendMessage .chat .chat-history li.userChat .other-message {
    width: 200px;
  }
}
.sendMessage .chat .chat-history li:last-of-type .message-data {
  display: block;
}
.sendMessage .chat .chat-history .message-data {
  margin-bottom: 15px;
}
.sendMessage .chat .chat-history .message-data-time {
  color: rgba(20, 20, 20, 0.55);
  padding-left: 6px;
}
.sendMessage .chat .chat-history .message-data-name img {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.sendMessage .chat .chat-history .message {
  color: white;
  padding: 7px 12px;
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 30px;
  max-width: 90%;
  border-radius: 25px;
  min-width: 120px;
  position: relative;
}
.sendMessage .chat .chat-history .my-message {
  background: #eff0f0;
  color: #282828;
}
.sendMessage .chat .chat-history .other-message {
  background: #23c94a;
}
.sendMessage .chat .chat-message {
  padding: 30px 0 10px;
  position: relative;
}
.sendMessage .chat .chat-message .menu,
.sendMessage .chat .chat-message .settingChat {
  position: absolute;
}
.sendMessage .chat .chat-message .menu {
  right: 8px;
  bottom: 32px;
  color: #0a71bf;
}
.sendMessage .chat .chat-message .menu i {
  cursor: pointer;
}
.sendMessage .chat .chat-message .settingChat {
  left: 0;
  bottom: 28px;
}
.sendMessage .chat .chat-message .settingChat ul {
  margin: 0;
}
.sendMessage .chat .chat-message .settingChat ul li {
  display: inline-block;
  margin-left: 10px;
  color: #c9d6df;
  cursor: pointer;
}
.sendMessage .chat .chat-message .settingChat ul li:last-child {
  color: #0a71bf;
}
.sendMessage .chat .chat-message .settingChat ul li:last-child button {
  background: none;
  border: none;
  cursor: pointer;
  color: #0a71bf;
}
.sendMessage .chat .chat-message .settingChat ul li:last-child button:hover {
  color: #085d9d;
}
.sendMessage .chat .chat-message textarea {
  width: 100%;
  border: none;
  padding: 10px 30px 10px 60px;
  height: 50px;
  border-radius: 5px;
  resize: none;
  color: #0a71bf;
}
.sendMessage .chat .chat-message ::-webkit-input-placeholder {
  color: #0a71bf;
}
.sendMessage .chat .chat-message :-ms-input-placeholder {
  color: #0a71bf;
}
.sendMessage .chat .chat-message ::-ms-input-placeholder {
  color: #0a71bf;
}
.sendMessage .chat .chat-message ::placeholder {
  color: #0a71bf;
}
.sendMessage .online, .sendMessage .offline, .sendMessage .me {
  margin-right: 3px;
  font-size: 10px;
}
.sendMessage .online {
  color: #23c94a;
}
.sendMessage .me {
  color: #0a71bf;
}
.sendMessage .align-left {
  text-align: left;
}
.sendMessage .align-right {
  text-align: right;
}
.sendMessage .float-right {
  float: right !important;
}
.sendMessage .float-left {
  float: left !important;
}

.openChatBot {
  position: fixed;
  bottom: 5px;
  right: 5px;
  width: 70px;
  height: 70px;
  background-color: #23c94a;
  color: #FFF;
  font-size: 22px;
  text-align: center;
  line-height: 70px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 9999;
  display: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 991px) {
  .openChatBot {
    display: block !important;
  }
}
.openChatBot.topFixed {
  width: 40px;
  height: 40px;
  font-size: 15px;
  line-height: 40px;
}

@media (max-width: 991px) {
  .fixedPhone {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 997;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
.fixedPhone.openBot {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/* slideShow
=============*/
.slideShow .slideImg {
  padding: 50px;
  position: relative;
}
.slideShow .slideImg .blogC_share {
  bottom: -20px;
  left: 50px;
}
.slideShow .item {
  height: 350px;
  overflow: hidden;
}
.slideShow .item img {
  width: 100%;
  height: 100%;
}

.videoD .slideImg iframe {
  width: 100%;
}

/* faqs
==============*/
#faqs {
  padding: 0 20px;
}
#faqs .card {
  background-color: transparent;
  border: 0;
  margin-bottom: 25px;
}
#faqs .card .card-header {
  padding: 0;
  background-color: transparent;
  border: none;
}
#faqs .card .card-header .card-link {
  display: block;
  padding: 9px 15px 15px;
  background-color: #fff;
  color: #0a71bf;
  border: 1px solid #0a71bf;
  border-radius: 35px;
  font-weight: bold;
  position: relative;
}
#faqs .card .card-header .card-link.collapsed i {
  -webkit-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
#faqs .card .card-header .card-link i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 20px;
  font-size: 20px;
}
#faqs .card .card-body {
  background: #f6f6f6;
  margin-top: 20px;
}

/* sign
=============== */
.sign {
  background-image: url(../images/header.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  margin-bottom: -67px;
  min-height: 100vh;
}
.sign .sign-btn {
  text-align: center;
  display: block;
  color: #FFF;
}
.sign .h-100vh {
  min-height: 650px;
}
.sign .blueBox {
  padding: 50px 40px;
}
@media (max-width: 500px) {
  .sign .blueBox {
    padding: 30px 10px;
  }
}
.sign.pation {
  background-image: url(../images/pation_register.png);
}
.sign.doctor {
  background-image: url(../images/doctor_register.png);
}
@media screen {
  .sign.doctor .thirdForm {
    width: calc(50% - 4px);
    margin: 15px 0;
    border-radius: 0 !important;
  }
}
@media (max-width: 500px) {
  .sign.doctor .thirdForm {
    width: 100%;
  }
}
.sign .titleSign {
  color: #FFF;
  padding: 20px 0 30px;
}
.sign button {
  display: block;
  margin: 10px auto;
}
.sign .form-group {
  margin-bottom: 20px;
}
.sign .form-group a {
  text-decoration: underline;
}
.sign .form-group select {
  height: auto !important;
}
.sign .form-group label {
  color: #FFF;
  font-weight: bold;
  display: block;
}
.sign .form-group .form-control {
  border-radius: 0;
  background: #FFF;
  text-align: right;
}
.sign .custom-upload {
  position: relative;
  height: 44px;
}

/* custom-control 
===================*/
.custom-control .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #23c94a;
}

/* custom-upload__input
===================*/
.custom-upload__input {
  height: 0;
  left: -10000px;
  overflow: hidden;
}

.custom-upload__button {
  position: absolute;
  top: -3px;
  right: 0;
  padding: 10px 20px;
  border: 2px solid #fff;
  border-radius: 0px;
  background-color: #fff;
  color: #666;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  -o-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
  max-width: 250px;
  overflow: hidden;
  cursor: pointer;
}
.custom-upload__button img {
  height: 26px;
  display: inline-block;
  margin-left: 10px;
}

/*report
================*/
.report {
  background-color: #FFF;
}
.report .reportHead {
  border-bottom: 1px solid #000;
  padding: 20px 0 10px;
  font-weight: bold;
  margin-bottom: 25px;
}
.report .reportBody .teammark {
  font-weight: bold;
  font-size: 22px;
  max-width: 300px;
  width: 90%;
}
.report .reportBody .teammark p:last-child {
  text-decoration: underline;
}
.report .reportBody .logo {
  margin-bottom: 20px;
}
.report .reportBody h2 {
  font-weight: bold;
  margin: 20px 0;
}
.report .reportBody p {
  font-size: 20px;
  line-height: 2;
}
.report .reportBody ul {
  border-top: 2px solid #23c94a;
  border-bottom: 2px solid #23c94a;
  counter-reset: li;
}
.report .reportBody ul li {
  padding: 5px 10px;
  font-size: 18px;
  color: #23c94a;
  font-weight: bold;
}
.report .reportBody ul li:nth-child(odd) {
  background-color: #e1e1e1;
}
.report .reportBody ul li:before {
  counter-increment: li;
  content: counter(li);
  margin-left: 30px;
}

/* profile
==============*/
.profile {
  margin-top: 60px;
  min-height: calc(100vh - 60px);
  background-color: #f6f6f6;
}
.profile .profileContent {
  height: calc(100vh - 140px);
  min-height: 600px;
  overflow-y: scroll;
  border: 2px solid #0a71bf;
  border-right: 0;
}
@media (max-width: 991px) {
  .profile .profileContent {
    height: 100%;
  }
}
.profile .profile-info {
  min-height: calc(100vh - 140px);
  background: #f6f6f6;
  text-align: center;
  padding: 20px;
  border: 2px solid #0a71bf;
  border-left: 0;
}
@media (max-width: 991px) {
  .profile .profile-info {
    min-height: 100%;
  }
}
.profile .profile-info .profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}
.profile .profile-info .profile-img img {
  width: 100%;
  display: block;
}
.profile .profile-info p {
  color: #0a71bf;
  font-weight: bold;
}
.profile .profile-info .profile-user .rating li i {
  font-size: 20px;
}
.profile .profile-info .profile-location .edit, .profile .profile-info .profile-location .saveLoc {
  display: inline-block;
  cursor: pointer;
  margin-right: 5px;
}
.profile .profile-info .profile-location p {
  display: inline-block;
}
.profile .profile-info .profile-location .edit {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #0a71bf;
  color: #FFF;
  font-size: 9px;
  text-align: center;
  line-height: 20px;
  vertical-align: middle;
}
.profile .profile-info .controlbuttons button {
  min-width: 110px;
  margin: 10px 10px;
}
.profile .profile-info .Pconsultation .form-group {
  margin-bottom: 10px;
}
.profile .profile-info .Pconsultation .form-group label, .profile .profile-info .Pconsultation .form-group input {
  color: #0a71bf;
  font-size: 18px;
  display: inline-block;
  font-weight: bold;
}
.profile .profile-info .Pconsultation .form-group input {
  text-align: center;
  margin-right: 10px;
  max-width: 100px;
}
.profile .profile-info .Pconsultation .form-group .cusInput {
  max-width: 40px;
}
.profile .profile-info .PbookOpp .perfect-datetimepicker {
  margin: 10px auto;
}

.doctorOption {
  border-right: 0;
}
.doctorOption.doctor__profile {
  padding: 40px;
}
.doctorOption.doctor__profile p {
  color: #000;
  margin-bottom: 2px;
}
.doctorOption.doctor__profile .done p {
  color: #FFF;
}

/* doctor-information
====================*/
.doctor-information .inf-title h3 {
  font-weight: bold;
}
.doctor-information .main-p {
  text-decoration: underline;
  color: #0a71bf;
  font-size: 18px;
  line-height: 1.8;
}
.doctor-information .img__logo {
  background-color: #FFF;
  -webkit-box-shadow: 0 0 30px 6px rgba(31, 51, 73, 0.1);
  box-shadow: 0 0 30px 6px rgba(31, 51, 73, 0.1);
  min-height: 250px;
  width: 250px;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: inline-block;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.doctor-information .img__logo:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.doctor-information p {
  font-size: 18px;
  line-height: 1.8;
  font-weight: bold;
}

.upload-container img {
  height: 100px;
  display: none;
  margin: 10px;
}
.upload-container .picture {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  text-align: center;
  padding: 10px 30px;
  background-color: #f6f6f6;
  border-radius: 5px;
  width: 185px;
  height: 65px;
  cursor: pointer;
}
.upload-container .picture img {
  display: block;
  width: 40px;
  height: 45px;
  margin: auto;
}
.upload-container .picture:hover {
  background-color: #0a71bf;
}
.upload-container .picture input {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.doctor-clinic .clinic-title h3 {
  color: #0a71bf;
  font-weight: bold;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.doctor-clinic .gray-box {
  background-color: #f6f6f6;
  padding: 20px;
  min-height: 150px;
}
.doctor-clinic .tags {
  display: inline-block;
  background-color: transparent;
  border: 1px solid #0a71bf;
  color: #0a71bf;
  padding: 0px 15px;
  margin: 5px;
  font-size: 25px;
}
.doctor-clinic .tags:hover {
  background-color: #0a71bf;
  color: #f6f6f6;
}
.doctor-clinic .error {
  font-size: 12px;
  color: red;
}
.doctor-clinic .results img {
  margin: 10px;
  float: right;
  height: 200px;
}
.doctor-clinic .form\@file {
  visibility: hidden;
  position: absolute;
  opacity: 0;
}
.doctor-clinic .form\@file__label {
  background: #f6f6f6;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 10px;
  padding: 12px;
  height: 200px;
  width: 200px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  float: right;
}
.doctor-clinic .form\@file__label:hover {
  background-color: #dddada;
}
.doctor-clinic .form\@file__label-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 12px;
}
.doctor-clinic .form\@file__label-inner img {
  width: 50px;
}
.doctor-clinic .map-clinic iframe {
  width: 100%;
}
.doctor-clinic .clinicLoc {
  font-size: 20px;
  font-weight: bold;
}
.doctor-clinic .pVideos {
  padding: 0 80px;
}
@media (max-width: 991px) {
  .doctor-clinic .pVideos {
    padding: 10px;
  }
}
.doctor-clinic .pVideos .recently_widget .dragDrop i {
  font-size: 18px;
}
.doctor-clinic .pVideos .recently_widget .widget_img {
  height: 250px;
}

#list1 .placeHolder div {
  background-color: #fff !important;
  width: 100% px;
  height: 100%;
  border: dashed 2px #0a71bf !important;
}

.pation_profile {
  padding: 40px 0;
}
.pation_profile .profile-img {
  margin: 10px 0 20px !important;
}
.pation_profile p {
  font-weight: 500 !important;
}
.pation_profile .profile-info {
  color: #FFF;
}
.pation_profile .profile-info p {
  color: #FFF;
}
.pation_profile .booking-card .cardSide button {
  min-width: 150px;
}
.pation_profile .description__pation .des_status p {
  font-weight: bold !important;
}
.pation_profile .desc__card {
  border-radius: 20px;
  background-color: #f2f2f2;
  padding: 20px;
  position: relative;
}
.pation_profile .desc__card.prev .desc__card-date {
  color: #000;
}
.pation_profile .desc__card.prev h3 {
  color: #000;
}
.pation_profile .desc__card.prev .rangDes p {
  color: #000;
}
.pation_profile .desc__card .desc__card-date {
  position: absolute;
  top: -30px;
  right: 5px;
  font-size: 18px;
  color: #23c94a;
}
.pation_profile .desc__card h3 {
  color: #0a71bf;
  font-weight: bold;
}
.pation_profile .desc__card p {
  font-weight: bold !important;
  font-size: 17px;
}
.pation_profile .desc__card .rangDes {
  min-width: 200px;
}
.pation_profile .desc__card .rangDes p {
  color: #0a71bf;
  text-align: center;
}
.pation_profile .desc__card .addBy {
  font-weight: 500 !important;
}
.pation_profile .treports .tab-content {
  padding: 20px 0;
}
.pation_profile .treports .nav-tabs li {
  border: 0;
  margin: 0 10px;
}
.pation_profile .treports .nav-tabs .nav-link {
  border-radius: 50px;
  padding: 10px;
  border: 2px solid #0a71bf;
  background-color: transparent;
  color: #0a71bf;
}
.pation_profile .treports .nav-tabs .nav-link.active {
  background-color: #0a71bf;
  color: #FFF;
}
.pation_profile .treports .reports p {
  font-weight: bold !important;
  text-align: center;
}

/* header
==================== */
header {
  background: #FFF;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
header nav .brand img {
  display: inline-block;
  width: 115px;
}
@media (max-width: 767px) {
  header nav .brand img {
    width: 90px;
  }
}
header nav .brand .outline-btn {
  display: inline-block;
  background-color: transparent;
  border: 1px solid #23c94a;
  border-radius: 5px;
  margin-right: 20px;
  color: #23c94a;
  padding: 2px 15px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 767px) {
  header nav .brand .outline-btn {
    font-size: 12px;
    padding: 2px 10px;
  }
}
header nav .brand .outline-btn:hover {
  color: #FFF;
  background-color: #23c94a;
  text-decoration: none;
}
@media (max-width: 991px) {
  header nav .navLinks {
    display: none;
  }
}
header nav .navLinks a {
  display: inline-block;
  border-bottom: 2px solid #23c94a;
  color: #282828;
  padding: 10px 0px;
  margin: 0 20px 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
header nav .navLinks a:hover {
  text-decoration: none;
  border-bottom-color: #0a71bf;
}
header nav .register {
  padding-top: 15px;
}
@media (max-width: 991px) {
  header nav .register {
    display: none;
  }
}
header nav .register ul {
  list-style: none;
}
header nav .register ul li {
  display: inline-block;
  margin-left: 15px;
  cursor: pointer;
}
header nav .register ul li a {
  color: inherit;
}
header nav .register ul li:first-child i {
  color: #23c94a;
}
header nav .register ul li:first-child:hover {
  color: #23c94a;
}
header nav .register ul li:last-child {
  margin-left: 0;
}
header nav .register ul li:last-child i {
  color: #0a71bf;
}
header nav .register ul li:last-child:hover {
  color: #0a71bf;
}
header nav .register ul li i {
  margin-left: 5px;
  font-size: 20px;
}
@media (max-width: 991px) {
  header nav .userLogin {
    display: none;
  }
}
header nav .userLogin ul {
  list-style: none;
  margin: 0;
}
header nav .userLogin ul li {
  margin-top: 10px;
  position: relative;
  display: inline-block;
}
header nav .userLogin ul li.active .listLogin {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
header nav .userLogin ul li:first-child {
  margin-left: 40px;
  color: #0a71bf;
  font-size: 18px;
}
header nav .userLogin ul li .listLogin {
  position: absolute;
  background-color: #FFF;
  padding: 10px;
  min-width: 150px;
  width: 300px;
  left: -25px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.3);
  top: calc(100%  + 10px);
  z-index: 999;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
header nav .userLogin ul li .listLogin.notif {
  font-size: 15px;
  max-height: 350px;
  overflow: auto;
}
header nav .userLogin ul li .listLogin.notif li {
  text-align: right;
}
header nav .userLogin ul li .listLogin.notif li:first-child p {
  color: #282828;
  display: inline-block;
  font-size: 15px;
}
header nav .userLogin ul li .listLogin.notif li:first-child a {
  float: left;
}
header nav .userLogin ul li .listLogin li {
  color: #282828;
  text-align: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.55);
  display: block;
}
header nav .userLogin ul li .listLogin li:first-child {
  margin-left: 0;
  color: #282828;
  font-size: 15px;
}
header nav .userLogin ul li .listLogin li:last-child {
  border: none;
}
header nav .userLogin ul li .listLogin li a {
  display: block;
  padding: 5px 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
header nav .userLogin ul li .listLogin li a:hover {
  font-weight: bold;
}
header nav .userLogin ul li img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 15px;
  display: inline-block;
}
header nav .navBtn {
  display: none;
}
@media (max-width: 991px) {
  header nav .navBtn {
    display: block;
  }
}
header nav .navBtn i {
  padding-top: 15px;
  font-size: 25px;
  color: #23c94a;
  cursor: pointer;
}
@media (max-width: 767px) {
  header nav .navBtn i {
    padding-top: 5px;
  }
}
header nav .mobileNav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 9999;
  background: #0a71bf;
  color: #FFF;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
header nav .mobileNav.active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
header nav .mobileNav i {
  font-size: 25px;
  margin: 20px 20px;
  cursor: pointer;
}
header nav .mobileNav ul {
  list-style: none;
}
header nav .mobileNav ul li {
  padding-right: 20px;
  padding-top: 5px;
  height: 50px;
  border-top: 1px solid #23c94a;
  position: relative;
  z-index: 2;
}
header nav .mobileNav ul li:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #23c94a;
  z-index: -1;
}
header nav .mobileNav ul li:hover:after {
  width: 100%;
}
header nav .mobileNav ul li a {
  display: block;
  line-height: 40px;
}
header nav .mobileNav ul li a img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
}
header nav .mobileNav ul li a i {
  margin: 0 0 0 10px;
}

footer {
  background-color: #f6f6f6;
  padding: 100px 0 80px;
  /* footer-links*/
  /* subscribe */
  /* socail */
}
footer h4 {
  color: #0a71bf;
  text-align: center;
  font-size: 25px;
  margin-bottom: 30px;
}
footer ul.footer-links {
  list-style: none;
  border-right: 3px dashed #b8b8c1;
  padding-right: 20px;
}
footer ul.footer-links li {
  margin-bottom: 18px;
}
footer ul.footer-links li a {
  color: #282828;
  font-size: 18px;
}
footer .subscribe {
  margin-top: 40px;
}
footer .subscribe p {
  color: #0a71bf;
  text-align: center;
  margin: 10px 0 20px;
  font-weight: bold;
}
footer .subscribe .form-group {
  display: inline-block;
  width: calc(100% - 105px);
}
@media (max-width: 540px) {
  footer .subscribe .form-group {
    display: block;
    width: 100%;
  }
}
footer .subscribe button {
  display: inline-block;
  width: 100px;
  padding: 10px 0;
}
@media (max-width: 540px) {
  footer .subscribe button {
    display: block;
    width: 100%;
  }
}
footer .subscribe ul {
  list-style: none;
  margin-top: 35px;
}
footer .subscribe ul li {
  color: rgba(0, 0, 0, 0.55);
  font-weight: bold;
  margin-bottom: 12px;
}
footer .subscribe ul li i {
  margin-right: 10px;
  color: #0a71bf;
}
footer .socail {
  padding: 50px 0;
  border-bottom: 2px solid #23c94a;
}
footer .socail h4 {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
  line-height: 1.6;
}
@media (max-width: 720px) {
  footer .socail h4 {
    font-size: 22px;
  }
}
footer .socail ul {
  text-align: center;
  list-style: none;
  margin: 50px 0 0px;
}
footer .socail ul li {
  display: inline-block;
  margin: 5px 10px;
}
footer .socail ul li img {
  width: 50px;
}
@media (max-width: 540px) {
  footer .socail ul li img {
    width: 33px;
  }
}
footer .copyright {
  margin-top: 20px;
}
footer .copyright p {
  color: rgba(0, 0, 0, 0.55);
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  width: 55%;
  margin: auto;
}
@media (max-width: 720px) {
  footer .copyright p {
    width: 100%;
    font-size: 20px;
  }
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Cairo', sans-serif;
  font-size: 15px;
}

.container {
  max-width: 1400px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #FFF;
}

::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #0a71bf;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0a71bf;
}

ul {
  padding: 0;
  list-style: none;
}

a, a:hover, a:focus {
  text-decoration: none;
  color: inherit;
}

.no_padding {
  padding: 0;
}

.section-lg {
  padding: 120px 0;
}

.section-md {
  padding: 80px 0;
}

img {
  display: block;
  max-width: 100%;
}

.bg-gray {
  background-color: #f6f6f6;
}

.bg-blue {
  background-color: #0a71bf !important;
  padding: 40px 0;
}

.greenColor {
  color: #23c94a !important;
}

.blueColor {
  color: #0a71bf !important;
}

@media (max-width: 991px) {
  .hideInPhone {
    display: none !important;
  }
}

button:focus {
  outline: 0;
}

.item:focus {
  outline: 0;
}

.slick-dots {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -30px;
}
.slick-dots > li {
  display: inline-block;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.55);
  width: 8px;
  margin-right: 15px;
  border-radius: 35px;
  cursor: pointer;
}
.slick-dots > li.slick-active {
  background-color: #23c94a;
  width: 25px;
}
.slick-dots > li > button {
  display: none;
}

.sliderControl .arrow {
  position: absolute;
  top: 50%;
  color: #282828;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 25px;
}
.sliderControl .arrow.next {
  left: 20px;
}
.sliderControl .arrow.prev {
  right: 20px;
}

/*setting
=============*/
.setting .setting-nav {
  background-color: #FFF;
  border: 1px solid #dcd8d5;
}
.setting .setting-nav li {
  border-bottom: 1px solid #dcd8d5;
}
.setting .setting-nav li a.active {
  color: #0a71bf;
}
.setting .image-change {
  border-radius: 50%;
  width: 165px;
  height: 165px;
  overflow: hidden;
  margin: 20px auto;
  background-color: #282828;
}
.setting .image-change img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
}
.setting .upload-container .picture {
  background-color: transparent;
  border-radius: 0;
  width: auto;
  height: auto;
  display: inline-block;
  padding: 4px;
  vertical-align: text-bottom;
}
.setting .upload-container .picture img {
  width: 33px;
  height: 33px;
  cursor: pointer;
}
.setting .upload-container p {
  display: inline-block;
}
.setting .border-div {
  border-right: 2px solid #282828;
}
@media (max-width: 767px) {
  .setting .border-div {
    border: 0;
  }
}
.setting .border-div .form-group label {
  color: #282828;
}
.setting .border-div .form-group .form-control {
  border-radius: 0;
  border-color: #939393;
}

.affix {
  position: fixed;
  top: 90px;
  right: 20px;
  width: 320px;
  z-index: 9999;
  display: none;
}
@media (min-width: 1200px) {
  .affix {
    position: static;
    width: 100%;
    top: auto;
    right: auto;
  }
}
@media (max-width: 1199px) {
  .affix {
    width: 220px;
  }
}
@media (max-width: 991px) {
  .affix {
    width: 150px;
  }
}
@media (max-width: 767px) {
  .affix {
    position: static;
    width: 100%;
    top: auto;
    right: auto;
  }
}

.notFound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  min-height: 500px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.notFound img {
  width: 95%;
  max-width: 500px;
        object-fit: contain;
}
.notFound button {
  font-size: 22px;
}

/* Preload */
.load {
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.load img {
  width: 150px;
  animation: opac 0.9s ease-in-out  alternate-reverse infinite;
}

@-webkit-keyframes opac {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes opac {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* gird-container
========================== */
.gird-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: Repeat(13, auto);
  grid-template-rows: Repeat(2, auto);
}

.style1 .grid1 {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
}
.style1 .grid2 {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 2;
}
.style1 .grid3 {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 2;
  grid-row-end: 3;
}
.style1 .grid4 {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 2;
}
.style1 .grid5 {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 3;
}

.style2 .grid1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.style2 .grid2 {
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 3;
}
.style2 .grid3 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.style2 .grid4 {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 2;
}
.style2 .grid5 {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 3;
}

.style3 .grid1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.style3 .grid3 {
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 3;
}
.style3 .grid2 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.style3 .grid4 {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 2;
}
.style3 .grid5 {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 3;
}

.style4 .grid1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.style4 .grid2 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.style4 .grid3 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
}
.style4 .grid4 {
  grid-column-start: 7;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 3;
}
.style4 .grid5 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
}

.style5 .grid1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.style5 .grid2 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.style5 .grid3 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
}
.style5 .grid5 {
  grid-column-start: 7;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 3;
}
.style5 .grid4 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
}

@media (max-width: 991px) {
  .gird-container {
    display: block;
  }
}
.animateGrid {
  -webkit-animation: fade 1s ease-in-out;
  animation: fade 1s ease-in-out;
}

@-webkit-keyframes fade {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale 1;
    transform: scale 1;
  }
}

@keyframes fade {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale 1;
    transform: scale 1;
  }
}

.allpages{
    position: fixed;
    top: 150px;
    left: 0;
    z-index: 999999;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out
}
.allpages.active{
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.allpages .icons{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #23c94a;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    box-shadow:0px 5px 5px 3px rgba(31,51,73,.1);
    transition:all .3s cubic-bezier(.53,-.01,0,1.49); 
    font-size: 20px;
    position: absolute;
    top: 0px;
    left: 100%
}
.allpages.active .icons i{
    
}
.allpages .menu-pages{
    min-height: 100px;
    max-height: 450px;
    background-color: #fff;
    width: 250px;
    text-align: center;
    box-shadow: inset 0px 5px 5px 3px rgba(31,51,73,.1);
    padding: 20px;
    font-size: 16px;
    overflow-y: scroll
}
.allpages .menu-pages li{
    padding: 10px 0;
    text-transform: capitalize
}
.allpages .menu-pages li:last-child{
    padding-bottom: 0
}
.allpages .menu-pages li:first-child{
    padding-top: 0
}
.allpages .menu-pages li a{
    display: block
}
.allpages .menu-pages li:hover a{
    color: #0a71bf
} 
.allpages .icons i{
    
   -webkit-animation: scaleIconPage 1s ease-in-out infinite;
  animation: scaleIconPage 1s ease-in-out infinite; 
}

.allpages.active .icons i{
    
   -webkit-animation: scaleIconPage2 1s ease-in-out infinite;
  animation: scaleIconPage2 1s ease-in-out infinite; 
}

@-webkit-keyframes scaleIconPage {
  0% {
    -webkit-transform: scale(0.8) rotateY(180deg);
    transform: scale(0.8) rotateY(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateY(180deg);
    transform: scale(1) rotateY(180deg);
  }
}

@keyframes scaleIconPage {
  0%,100% {
    -webkit-transform: scale(0.8) rotateY(180deg);
    transform: scale(0.8) rotateY(180deg);
  }
  50% {
    -webkit-transform: scale(1) rotateY(180deg);
    transform: scale(1) rotateY(180deg);
  }
}
@-webkit-keyframes scaleIconPage2 {
  0% {
    -webkit-transform: scale(0.8) ;
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1) ;
    transform: scale(1) ;
  }
}

@keyframes scaleIconPage2 {
  0%,100% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8) ;
  }
  50% {
    -webkit-transform: scale(1) ;
    transform: scale(1) ;
  }
}